Repository dotnet/cli, pull requests merged in 2018-12, with the labels that each got.

#10433 Insert NuGet Build 4.9.2-rtm.5706 into cli
  build/DependencyVersions.props
Labels: Servicing-approved

#10434 Insert NuGet Build 4.9.2-rtm.5706 into cli
  build/DependencyVersions.props
Labels: Servicing-approved

#10436 Remove test for scenario which is better covered elsewhere
  test/dotnet-new.Tests/GivenThatIWantANewApp.cs
Labels: infrastructure

#10426 dotnet tool list --local
  src/dotnet/ToolManifest/IToolManifestInspector.cs
  src/dotnet/ToolManifest/ToolManifestFinder.cs
  src/dotnet/commands/dotnet-tool/ToolCommand.cs
  src/dotnet/commands/dotnet-tool/list/LocalizableStrings.resx
  src/dotnet/commands/dotnet-tool/list/ToolListCommand.cs
  src/dotnet/commands/dotnet-tool/list/ToolListCommandParser.cs
  src/dotnet/commands/dotnet-tool/list/ToolListGlobalOrToolPathCommand.cs
  src/dotnet/commands/dotnet-tool/list/ToolListLocalCommand.cs
  src/dotnet/commands/dotnet-tool/list/xlf/LocalizableStrings.cs.xlf
  src/dotnet/commands/dotnet-tool/list/xlf/LocalizableStrings.de.xlf
  src/dotnet/commands/dotnet-tool/list/xlf/LocalizableStrings.es.xlf
  src/dotnet/commands/dotnet-tool/list/xlf/LocalizableStrings.fr.xlf
  src/dotnet/commands/dotnet-tool/list/xlf/LocalizableStrings.it.xlf
  src/dotnet/commands/dotnet-tool/list/xlf/LocalizableStrings.ja.xlf
  src/dotnet/commands/dotnet-tool/list/xlf/LocalizableStrings.ko.xlf
  src/dotnet/commands/dotnet-tool/list/xlf/LocalizableStrings.pl.xlf
  src/dotnet/commands/dotnet-tool/list/xlf/LocalizableStrings.pt-BR.xlf
  src/dotnet/commands/dotnet-tool/list/xlf/LocalizableStrings.ru.xlf
  src/dotnet/commands/dotnet-tool/list/xlf/LocalizableStrings.tr.xlf
  src/dotnet/commands/dotnet-tool/list/xlf/LocalizableStrings.zh-Hans.xlf
  src/dotnet/commands/dotnet-tool/list/xlf/LocalizableStrings.zh-Hant.xlf
  test/dotnet.Tests/CommandTests/ToolInstallCommandTests.cs
  test/dotnet.Tests/CommandTests/ToolListCommandTests.cs
  test/dotnet.Tests/CommandTests/ToolListGlobalOrToolPathCommandTests.cs
  test/dotnet.Tests/CommandTests/ToolListLocalCommandTests.cs
  test/dotnet.Tests/CommandTests/ToolManifestFinderTests.cs
  test/dotnet.Tests/ParserTests/ListToolParserTests.cs
Labels: tool

#10520 Repair the Absolutepath; part 2
  scripts/obtain/dotnet-install.ps1
Labels: Install-Script

#10524 Add --interactive to dotnet tools
  src/Microsoft.DotNet.Cli.Utils/Constants.cs
  src/dotnet/commands/dotnet-tool/ToolCommandRestorePassThroughOptions.cs
  src/dotnet/commands/dotnet-tool/install/ProjectRestorer.cs
  src/dotnet/commands/dotnet-tool/install/ToolInstallCommandParser.cs
  src/dotnet/commands/dotnet-tool/restore/ToolRestoreCommandParser.cs
  src/dotnet/commands/dotnet-tool/update/ToolUpdateCommandParser.cs
  test/dotnet.Tests/ParserTests/InstallToolParserTests.cs
  test/dotnet.Tests/ParserTests/ToolRestoreParserTests.cs
  test/dotnet.Tests/ParserTests/UpdateToolParserTests.cs
Labels: tool
