Repository dotnet/cli, pull requests merged in 2019-09, with the labels that each got.

#12485 Better error message for "windowsdesktop" usage
  scripts/obtain/dotnet-install.sh
Labels: Install-Script

#12505 Remove unused files
  packaging/windows/clisdk/StableFileIdForApphostTransform.xslt
  packaging/windows/clisdk/VS.Redist.Common.Net.Core.SDK.x64.2.1.nuspec
  packaging/windows/clisdk/VS.Redist.Common.Net.Core.SDK.x86.2.1.nuspec
  packaging/windows/eula.rtf
  packaging/windows/msbuildextensions/VS.Redist.Common.Net.Core.SDK.MSBuildExtensions.nuspec
  packaging/windows/msbuildextensions/generatenupkg.ps1
Labels: source-build, tell-mode

#12591 Fix resource names that regressed with move to arcade
  build/GenerateResxSource.targets
  test/dotnet-sln-add.Tests/GivenDotnetSlnAdd.cs
Labels: Approved to merge, ask-mode
